.sec4{
    height: 250px;
    z-index: 200;
    background: rgb(253,187,45);
    background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,193,195,0.0) 100%); 
    margin-top: 15%;
    z-index: 100;

}
@media (max-width:600px){
    .sec4{
        margin-top: 450px;
    }
}
.sec4 div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sec4 a{
    background: rgb(253,187,45);
    background: linear-gradient(0deg, rgba(253,187,45,0.04) 0%, rgba(34,193,195,0.1) 100%); 
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: cyan;
    border-radius: 5px;
    text-decoration: none;

}
.sec4 a:hover{
  
    color:  rgba(253,187,45,1);
}













#leaves {
    position:fixed;
    top:-50px;
    width:100%;
    text-align: center;
}

#leaves i {
    display: inline-block;
    position: fixed;
    z-index: -10;
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
#leaves i:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }




#leaves i:nth-of-type(n)    { height:23px; width:30px; }


#leaves i:nth-of-type(2n+1)    { height:11px; width:16px; }

#leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }


#leaves i:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
#leaves i:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
#leaves i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
#leaves i:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
#leaves i:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
#leaves i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
#leaves i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
#leaves i:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
#leaves i:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
#leaves i:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
#leaves i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
#leaves i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
#leaves i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
#leaves i:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
#leaves i:nth-of-type(15n) { -webkit-animation-delay: 3s;  }

#leaves i:nth-of-type(n)    { opacity: .5;}
#leaves i:nth-of-type(2n+1)  { opacity: .3;}


#leaves i:nth-of-type(n)    {transform: rotate(180deg);}


#leaves i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

@-webkit-keyframes falling {
    
    0% {
        -webkit-transform:
            translate3d(300,0,0)
            rotate(0deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-350px,2000px,0)
            rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling3 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(-20deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-230px,640px,0)
            rotate(-70deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling2 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(90deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-400px,680px,0)
            rotate(0deg);
        opacity: 0;
    }
}
.p a{
    color: #000;
}